# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

# Cleaning/Wrangling/EDA

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_spec1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [ ]:
data_spec1

In [ ]:
# Standardization of columns names into lower cases
data_spec1.columns = data_spec1.columns.str.lower().str.replace(" ","_")

data_spec1

In [ ]:
# Renaming column 
data_spec1 = data_spec1.rename(columns={"st": "state"})

In [ ]:
column_names = data_spec1.columns
print(column_names)
# as we can see below in the list of column names the previous column name called st is now state

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [ ]:
data_spec1['gender'].unique()
# Replace inconsistent and incorrect values with "F"

In [ ]:
# Replace inconsistent and incorrect values with "F"
data_spec1['gender'] = data_spec1['gender'].replace({"Femal":"F", "female": "F",})

In [ ]:
data_spec1['gender'] = data_spec1['gender'].replace({"Male":"M"})
# Replace inconsistent and incorrect values with "F"

In [ ]:
gender_counts = data_spec1['gender'].value_counts()

# Display the count for each gender value
for gender, count in gender_counts.items():
    print(f"{gender}: {count}")

In [ ]:
data_spec1['gender'].unique() # looking at the output below we are now sure that the inconsistent values were changed to "F" and "M"

In [ ]:
data_spec1['state'] = data_spec1['state'].replace({"AZ": "Arizona", "Cali": "California", "WA": "Washington"})
# State abbreviationsreplaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"

In [ ]:
state_counts = data_spec1['state'].value_counts()

# Display the count for each state value to make sure that we do not have abbreviations
for state, count in state_counts.items():
    print(f"{state}: {count}")

In [ ]:
data_spec1['education'].unique()
# Replacement of the value Bachelors to Bachelor

In [ ]:
data_spec1['education'] = data_spec1['education'].replace({'Bachelors':'Bachelor',})
# Replacement of the value Bachelors to Bachelor

In [ ]:
data_spec1['education'].unique() 
# Replacement of the value Bachelors to Bachelor

In [ ]:
# Remove the "%" character from the "customer_lifetime_value" column
data_spec1['customer_lifetime_value'] = data_spec1['customer_lifetime_value'].str.replace('%', '')

In [ ]:
data_spec1['customer_lifetime_value'].unique() 
# character "%" removed

In [ ]:
data_spec1['customer_lifetime_value'] = data_spec1['customer_lifetime_value'].astype(float)

# divide the column customer_lifetime_vlaue by 100 but no after turning into a float

In [ ]:
data_spec1['customer_lifetime_value'].unique()
# column column customer_lifetime_vlaue is now a float as we can see below

In [ ]:
data_spec1['customer_lifetime_value'] = data_spec1['customer_lifetime_value']/100
# code to divide by 100

In [ ]:
data_spec1['customer_lifetime_value'].unique()
# new result of the division by 100

In [ ]:
data_spec1['customer_lifetime_value'] = data_spec1['customer_lifetime_value'].round(2)
# code to round the result of the division by 100 by 2 digits

In [ ]:
data_spec1['customer_lifetime_value'].unique()
# new result of the division by 100 rounded by 2 digits

In [ ]:
#In vehicle class column replace, "Sports Car", "Luxury SUV" and "Luxury Car" by "Luxury"

data_spec1['vehicle_class'] = data_spec1['vehicle_class'].replace({"Sports Car":"Luxury", "Luxury SUV": "Luxury", "Luxury Car": "Luxury"})

In [ ]:
data_spec1['vehicle_class'].unique()

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
data_spec1.dtypes
#Customer lifetime value should be numeric , as we can see below it is a float due to the code performed above in line 97 

data_spec1['customer_lifetime_value'] = data_spec1['customer_lifetime_value'].astype(float)

In [ ]:
data_spec1['number_of_open_complaints'].unique()

In [ ]:
#the name number_of_open complaints suggests that this variable is a float or numeric but we can see above that is an object.

data_spec1['number_of_open_complaints'] = data_spec1['number_of_open_complaints'].replace({"A": 0,"B": 1, "C":2,"D":3,"E": 4, "F":5})

In [ ]:
data_spec1['number_of_open_complaints'].unique()

In [ ]:
data_spec1.dtypes

## Exercise 4: Dealing with Null values

In [ ]:
# Identify columns with null values
null_columns = data_spec1.columns[data_spec1.isnull().any()]

# Count the number of null values (NaN) in each column
null_counts = data_spec1[null_columns].isnull().sum()

# Print the columns with null values and the number of null values in each
for column, count in null_counts.items():
    print(f"Column '{column}' has {count} null values (NaN).")

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

In [ ]:
# List of columns to check for NaN values created
columns_to_check = [
    "customer",
    "state",
    "gender",
    "education",
    "customer_lifetime_value",
    "income",
    "monthly_premium_auto",
    "number_of_open_complaints",
    "policy_type",
    "vehicle_class",
    "total_claim_amount",
]

# To drop rows with NaN values it was used the dropna method with the subset parameter to drop rows that have NaN values
data_spec1 = data_spec1.dropna(subset=columns_to_check)

# The data_spec1 now contains rows with NaN values in the specified columns dropped.

In [ ]:
data_spec1

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [ ]:
data_spec1 = data_spec1.drop_duplicates()


# In this dealing with duplicates exercise that I later found out that should have been started in the very first line of command the outcome 
# is severly afected by the drop of the Nulls approach. The Data frame was with 4008 rows and 11 columns after the identification of Null elements and drop of those elements.
# It went from 4008 rows to 952 and the number of columns maintained.
# After running the duplicate identification we found out that the number of rows is still 952,which means that most of the duplicates were Null values and therefore already dropped.
# So from the previous line and out of pure luck the null values drop as also treated the duplicates , leaving us with no action to take here.

In [ ]:
data_spec1

In [ ]:
data_spec1.duplicated()

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

# Cleaning/Wrangling/EDA

In [ ]:
# Lab Customer Analysis Round 3

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
data_spec1.info()

#Show DataFrame info.
#Describe DataFrame.

In [ ]:
data_spec1.describe()

#Show DataFrame info.
#Describe DataFrame.

In [ ]:
def identify_dimensions(data_frame):
   
    num_rows, num_columns = data_spec1.shape
    return num_rows, num_columns


num_rows, num_columns = identify_dimensions(data_spec1)

print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_columns}")

#Show DataFrame info.
#Describe DataFrame.

In [ ]:
sns.countplot(x='gender', data=data_spec1)

In [ ]:
#from the plots below we can see that the gender F is the majority, this said we have more female costumers than masculin costumers

In [ ]:
sns.barplot(y="state", x="income",data=data_spec1)

In [ ]:
# Income mean or average is higher in the Washington State

In [ ]:
sns.barplot(x="policy_type", y="total_claim_amount",data=data_spec1)

In [ ]:
# the policy type Corporate Auto has the highest total claim amount average, and Personal Auto follows right after

In [ ]:
unique_values = data_spec1['education'].unique()
print(unique_values)

In [ ]:
unique_values = data_spec1['vehicle_class'].unique()
print(unique_values)

In [ ]:
z = sns.histplot(data=data_spec1, x="education", hue="vehicle_class", multiple="dodge", shrink=.8)
plt.setp(z.get_xticklabels(), rotation=90)

In [ ]:
sns.histplot(data=data_spec1, x="education", hue="vehicle_class", multiple="dodge", shrink=.8)

In [ ]:
# From the plots below we can see that surprisingly individuals with a higher level of education are associated with fewer luxury cars insurance and
# insurance for luxury cars associated to individuals only with high school or below education level

In [ ]:
#Lab Customer Analysis Round 4

In [ ]:
#Data Types of each column
selected_columns = [
    'customer',
    'state',
    'gender',
    'education',
    'customer_lifetime_value',
    'income',
    'monthly_premium_auto',
    'number_of_open_complaints',
    'policy_type',
    'vehicle_class',
    'total_claim_amount'
]


data_types = data_spec1[selected_columns].dtypes

print(data_types)

In [ ]:
unique_complaints = data_spec1['number_of_open_complaints'].unique()

# Print the unique values
print(unique_complaints)

In [ ]:
data_spec1['customer_lifetime_value'] = data_spec1['customer_lifetime_value'].astype(float)

In [ ]:
selected_columns = [
    'customer',
    'state',
    'gender',
    'education',
    'customer_lifetime_value',
    'income',
    'monthly_premium_auto',
    'number_of_open_complaints',
    'policy_type',
    'vehicle_class',
    'total_claim_amount'
]


data_types = data_spec1[selected_columns].dtypes

print(data_types)

In [ ]:
# Selecting numeric columns
numerical = data_spec1.select_dtypes(include=[np.number])

# Selecting categorical columns
categorical = data_spec1.select_dtypes(include=[object])

# Now, 'numerical' contains the numeric data, and 'categorical' contains the categorical data

In [ ]:
numerical

In [ ]:
categorical

In [ ]:
data_spec1['number_of_open_complaints'].unique()

In [ ]:
recent_list = []

for item in data_spec1["number_of_open_complaints"]:
    recent_list.append(item.split("/")[1])
    
data_spec1['number_of_open_complaints']=recent_list
data_spec1['number_of_open_complaints']

In [ ]:
data_spec1['number_of_open_complaints']=pd.to_numeric(data_spec1['number_of_open_complaints'], errors = "coerce")

In [ ]:
data_spec1.dtypes

In [ ]:
from sklearn import linear_model

In [ ]:
# numerical' DataFrame from the previous step

# Set up subplots for distribution plots
fig, axes = plt.subplots(nrows=2, ncols=2, figsize=(12, 8))

# Create distribution plots for each numerical variable
sns.histplot(numerical['customer_lifetime_value'], kde=True, ax=axes[0, 0])
axes[0, 0].set_title('Customer Lifetime Value')

sns.histplot(numerical['income'], kde=True, ax=axes[0, 1])
axes[0, 1].set_title('Income')

sns.histplot(numerical['monthly_premium_auto'], kde=True, ax=axes[1, 0])
axes[1, 0].set_title('Monthly Premium Auto')

sns.histplot(numerical['total_claim_amount'], kde=True, ax=axes[1, 1])
axes[1, 1].set_title('Total Claim Amount')

#sns.histplot(categorical['number_of_open_complaints'], kde=True, ax=axes[0, 0])
#axes[0, 0].set_title('Number_of_open_complaints')

# Adjust spacing between subplots
plt.tight_layout()

# Show the plots
plt.show()

In [ ]:
# Assuming you have the 'numerical' DataFrame from the previous steps

# Create a distribution plot for "customer_lifetime_value"
plt.figure(figsize=(8, 6))  # Set the figure size

sns.distplot(numerical['customer_lifetime_value'], kde=True)
plt.title("Customer Lifetime Value")
plt.xlabel("Customer Lifetime Value")
plt.ylabel("Density")

# Show the plot
plt.show()

In [ ]:
#Seaborn being used to build distribution plot

plt.figure(figsize=(8, 6)) 

sns.distplot(numerical['income'], kde=True)
plt.title("income")
plt.xlabel("income")
plt.ylabel("Density")

plt.show()

In [ ]:
plt.figure(figsize=(8, 6))  # Set the figure size

sns.distplot(numerical['monthly_premium_auto'], kde=True)
plt.title("monthly_premium_auto")
plt.xlabel("monthly_premium_auto")
plt.ylabel("Density")

plt.show()

In [ ]:
plt.figure(figsize=(8, 6))  # Set the figure size

sns.distplot(numerical['total_claim_amount'], kde=True)
plt.title("total_claim_amount")
plt.xlabel("total_claim_amount")
plt.ylabel("Density")

plt.show()

In [ ]:
correlations_matrix = numerical.corr()
correlations_matrix
correlations_matrix = numerical.select_dtypes("number").corr()
correlations_matrix

In [ ]:
#Using numerical variables, to check multicollinearity between the variables in X

correlation_matrix = numerical.corr()

# Creation of a heatmap of the correlation matrix
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm", vmin=-1, vmax=1)

plt.title("Correlation Heatmap")
plt.show()

# Identification of pairs on highly correlated features
highly_correlated_pairs = []
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > 0.9:
            highly_correlated_pairs.append((correlation_matrix.columns[i], correlation_matrix.columns[j]))

In [ ]:
# As we can see above from the multicolliniarity check frame the correlations are weak, so it doesn't seem to be that much of Multicolliniarity between the features.

In [ ]:
#Lab Customer Analysis Round 5

In [ ]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# X y split

X=data_spec1.drop(['total_claim_amount'], axis=1)
y=data_spec1['total_claim_amount']

In [ ]:
numerical

In [ ]:
categorical

In [ ]:
# If the 'customer' column exists, this code will remove it.
if 'customer' in data_spec1.columns:
    categorical = data_spec1.drop(columns=['customer'])

# Now, the 'customer' column has been dropped from the 'categorical' DataFrame.

In [ ]:
categorical

In [ ]:
X_num1 = X.select_dtypes(include = np.number)
X_cat1 = X.select_dtypes(include = object)

In [ ]:
X_num1.shape

In [ ]:
X_num1

In [ ]:
X_cat1

In [ ]:
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
X_num1.describe()

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

In [ ]:
transformer = MinMaxScaler().fit(X_num1)
X_norm = transformer.transform(X_num1)
print(X_norm.shape)
X_num_scale = pd.DataFrame(X_norm, columns=X_num1.columns)
X_num_scale

# Modeling

In [ ]:
#Lab Customer Analysis Round 6

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
if 'customer' in X_cat1.columns:
    categorical = X_cat1.drop(columns=['customer'])

In [ ]:
X_cat1.drop(X_cat1.columns[[0]], axis=1, inplace=True)

In [ ]:
X_cat1

In [ ]:
#OneHot Encoding for categorical variables

encoder = OneHotEncoder(drop="first").fit(X_cat1)
encoded = encoder.transform(X_cat1).toarray()
X_cat_encode = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())
X_cat_encode.head()

In [ ]:
#Concat DataFrames encoded categorical + numerical = conc_num_cat

X = pd.concat([X_num_scale,X_cat_encode],axis=1)

In [ ]:
X

In [ ]:
X.shape

# Model Validation

In [ ]:
# Lab Customer Analysis Round 7

In [ ]:
y = data_spec1 ['total_claim_amount']
y

In [ ]:
# Model Validation
#With these parameters, the train_test_split function will split our data  Here’s the code to do this if we want our test data to be 10% of the entire data set:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
X_train.head()

In [ ]:
y_train.head()

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lm = linear_model.LinearRegression()
lm.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import r2_score
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

In [ ]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)

In [ ]:
y_test[:5]

In [ ]:
predictions_test[:5]

In [ ]:
# Model validation

from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,predictions_test)
mse

In [ ]:
# Model Validation

rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score

In [ ]:
# Model Validation

mae = mean_absolute_error(y_test, predictions_test)
print(mae)

In [ ]:
# Model Validation

#Mean Absolute Error (MAE) tells us the average error in units of y the predicted feature. A value of 0 indicates a perfect fit. 

#Root Mean Square Error (RMSE) indicates the average error in units of y the predicted feature, but penalizes larger errors more severely than MAE. A value of 0 indicates a perfect fit. 

# R-squared (R2) tells us the degree to which the model explains the variance in the data. In other words how much better it is than just predicting the mean. 

#A value of 1 indicates a perfect fit and ours is 0.4569267089775002

#A value of 0 indicates a model no better than the mean. 

#A value less than 0 indicates a model worse than just predicting the mean.

In [ ]:
mae.round(2)

In [ ]:
#Trying to improve the linear regression model by changing the ratio to 0.33

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

In [ ]:
y_train.head()
y_train.round(2)

In [ ]:
predictions = lm.predict(X_train)
r2_score(y_train, predictions)

In [ ]:
predictions_test = lm.predict(X_test)
r2_score(y_test, predictions_test)
#So at this point as we can see below changing the ratio of train split test to 0.33 has actually helped to worsen the model going from the previous
# 0.4569267089775002(closer to 1 which indicates perfect fit) to 0.3939534536623036 (A value of 0 indicates a model no better than the mean)

In [ ]:
y_test[:4]

In [ ]:
predictions_test[:4]

In [ ]:
mae = mean_absolute_error(y_test, predictions_test)
mae
mae.round(2)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test,predictions_test))
rmse
rmse.round(2)

In [ ]:
mse=mean_squared_error(y_test,predictions_test)
mse
mse.round(2)

In [ ]:
# Accordingly to changes done in ratio to 0.33 and after the measures retrieved for margin of error, the model got worse , this happens due
# to the few features that were used in the prediction model. The model will not improve even if we try different approaches such as normalizong the variables
# or choosing variables with more correlation between themselves.(the features are very few).
#